---
---

* {
    margin:0;
}

html,body {
    height:100%;
    width:100%;
    background: url({{ site.baseurl }}/img/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:white;
    font-family: Helvetica, sans-serif;
    display:flex;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);    
}

.wrapper {
    height:100%;
    width:100%;
    min-height:100%;
}

.content {
    width:100%;
//    height:90%;
    min-height:100%;
    flex:1;
}

/* Title */
.title {
    font-kerning:none;
    font-weight: bold;
    letter-spacing: -8px;
    cursor:default;
    height: 100%;
    width:100%;
    text-align:right;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.title-block {
    width:100%;
    line-height: .8;
    margin-left: -10px;
    font-size: 8em;
}

/* Title */

/* Footer */


.footer-text {
    width:100%;
    height:10%;
}

.footer-content {
    height:100%;
    width:100%;
    font-weight:bold;
    font-size: 5em;
    text-align: center;
}


/* Footer */


a {
    opacity:1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;    
    -o-transition: opacity .25s ease-in-out;         
}

a:hover {
    text-decoration: none;
    opacity:0.5;
    color:#0000EE;
}


a.nav-item {
    color:white;
    text-decoration: none;
}

a.nav-item:hover {
    color:white;
}

.centered {
    position:absolute;
    width:50%;
    height:200px;
    top:50%;
    left:50%;
    margin: -100px 0 0 -25%;
}

.bigger-text {
    font-size:1em;
}
