<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
    <div class='wrapper'>
        <div class="content">
        {{content}}
        </div>
        <footer class='footer' id='footer'>
                <span><a href="{{ site.baseurl }}/about" class='nav-item' id='about-menu'>about</a>&nbsp;/
                <a href="{{ site.baseurl }}/get" class='nav-item' id='get-menu'>get one</a>&nbsp;/
                <a href="{{ site.baseurl }}/contributors" class='nav-item' id='contribute-menu'>contributors</a>&nbsp;/
                <a href="{{ site.baseurl }}/submit" class='nav-item' id='submit-menu'>submit</a>&nbsp;/
                <a href="{{ site.baseurl }}/preview" class='nav-item'>preview</a>/</span>    
        </footer>
    </div>
                
    </body>
    <script type='text/javascript' src='{{ site.baseurl }}/js/partials.js'></script>
 
</html>