<!DOCTYPE html>
<html>
    {% include head.html %}
    <link href='/css/home.css' rel='stylesheet'>
    <body>
        {{content}}
        
        <footer class='foot' ng-hide="hideFooter">
            <a href="#water" id='about-footer'>about</a>
            <a href="#water" id='get-footer'>get one</a>
            <a href="#water" id='submit-footer'>submit</a>
            <a href="/preview">preview</a>            
        </footer>           
    </body>
    <script type='text/javascript' src='/lib/skrollr.min.js'></script>
    <script type='text/javascript' src='/js/partials.js'></script>
    <script type='text/javascript' src='/js/main.js'></script>
 
</html>