<html>
    {%include headpost.html %}
    <div class="page-content">
      <div class="wrapper">
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <hr>
            <h3>Contributors</h3>
            <p>
                {% for contrib in page.contributors %}
                <a href="{{contrib.link}}">{{contrib.name}}</a> //
                {% endfor %}
            </p>
            <hr>
          </header>
            
          <article class="post-content">
            {{ content }}
          </article>

        </div>        
      </div>
    </div>

    
</html>
